# ============================================================
# Python
# ============================================================

__pycache__/
*.py[cod]

# ============================================================
# Virtual Environments
# ============================================================

.venv/
venv/
env/

# ============================================================
# Python Packaging
# ============================================================

build/
dist/
*.egg-info/

# ============================================================
# Local Test Projects
# ============================================================

TEST_FILES/

# ============================================================
# Logs
# ============================================================

*.log
